<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="public/assets/images/asu-fselogo-horiz-rgb-maroongold-footer-800x198.png" type="image/x-icon">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="public/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="public/assets/tether/tether.min.css">
    <link rel="stylesheet" href="public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="public/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="public/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="public/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="public/assets/theme/css/style.css">
    <link rel="stylesheet" href="public/assets/mobirise/css/mbr-additional.css" type="text/css">
    <link rel="stylesheet" href="bower_components/dropzone/dist/dropzone.css" type="text/css">
   <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style> -->
    <style>
        page-footer
        {
            position:absolute;
            right:0;
            bottom:0;
            left:0;
            padding-bottom: 0rem;
        }
    </style>
    <style>
        .btn-primary, .btn-primary:hover,.btn-primary:active,.btn-primary:visited
        {
            background-color: #800000;
        }
    </style>
</head>
<div>


    <section class="menu cid-qwLCObAEBm" once="menu" id="menu1-0" data-rv-view="187">



        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                         <img src="public/assets/images/asu-fselogo-horiz-rgb-maroongold-footer-800x198.png" alt="ASU IBM Watson Project " title="" media-simple="true" style="height: 3.8rem;">
                    </a>
                </span>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-primary display-4" href="/">Cognitive Analysis using AI &nbsp;- ASU</a></span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="/logout"><span class="mbri-login mbr-iconfont mbr-iconfont-btn" style="font-size: 15px;"></span>Logout</a></div>
            </div>
        </nav>
    </section>


    <div class="container" style="padding-top: 10%;padding-bottom: 10%">

    <!--<div class="row">
        <!--
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                <% if (user.local.email) { %>
                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                    <strong>password</strong>: <%= user.local.password %>
                </p>
                <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>
            </div>
        </div>
    </div> LOCAL INFORMATION -->
    <form id="upload-widget" method="post" action="/upload" class="dropzone">
        <div class="fallback">
            <input name="file" type="file" />
        </div>
    </form>


</div>
 <div style="padding-bottom: 0%;position: absolute;bottom: 0;right: 0;left:0">
    <section class="cid-qwM9bcgyl7"  id="footer1-h" data-rv-view="224">





        <div class="container" >
            <div class="media-container-row content text-white">
                <div class="col-12 col-md-3">
                    <div class="media-wrap">

                        <img src="public/assets/images/asu-fselogo-horiz-rgb-maroongold-footer-800x198.png" alt="ASU-Image-recognition" title="" media-simple="true">

                    </div>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">.</h5>
                    <p class="mbr-text"></p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Contacts
                    </h5>
                    <p class="mbr-text">
                        Email: agaffar@asu.edu<br>kjayashr@asu.edu &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>Phone: +1 (480) 5530 122&nbsp;<br></p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Links
                    </h5>
                    <p class="mbr-text"><a class="text-primary" href="/login">Sign In</a>&nbsp;<br><a class="text-primary" href="/login">Request Access</a><br><a class="text-primary" href="https://www.github.com/kjayashr">Join the team</a></p>
                </div>
            </div>

        </div>
    </section>

    <section once="" class="cid-qwM8K7d9ZR" id="footer6-e" data-rv-view="227">

        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-7">
                        © Copyright 2017 kjayashr@asu.edu - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>


    <script src="public/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="public/assets/popper/popper.min.js"></script>
    <script src="public/assets/tether/tether.min.js"></script>
    <script src="public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="public/assets/dropdown/js/script.min.js"></script>
    <script src="public/assets/touch-swipe/jquery.touch-swipe.min.js"></script>
    <script src="public/assets/jarallax/jarallax.min.js"></script>
    <script src="public/assets/smooth-scroll/smooth-scroll.js"></script>
    <script src="public/assets/theme/js/script.js"></script>
    <script src="bower_components/dropzone/dist/dropzone.js"></script>

</body>
</html>
